<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p>
  <strong>Image:</strong>
  <%= image_tag @user.image.url %>
</p>
<%= link_to 'Post new picture', new_picture_path %>
<br>
<%= link_to 'Favorites list ', favorites_path(@user) %>
<br>
<%= link_to 'Picture list', pictures_path %>